<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-5 shadow-effect bg-secondary-theme">
        <div class="card-body">

          <div class="text-center">
            <h3 class="text-theme-primary">Login</h3>
            <p>Please login to your admin account to post a new blog post</p>
          </div>

          <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">

            <div class="mb-2">
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" ngModel required="" email="" #Email="ngModel" [ngClass]="{'is-invalid': Email.touched && Email.invalid}">
              <div class="alert alert-danger" *ngIf="Email.touched && Email.invalid">
                <div *ngIf="Email.errors?.['required']">Email cannot be empty</div>
                <div *ngIf="Email.errors?.['email']">Please enter a valid email address</div>
              </div>
            </div>

            <div>
              <input type="password" class="form-control" name="password" id="password" placeholder="Password" ngModel required="" #Password="ngModel" [ngClass]="{'is-invalid': Password.touched && Password.invalid}">
              <div class="alert alert-danger" *ngIf="Password.touched && Password.invalid">Password cannot be empty</div>
            </div>

            <button class="btn mt-2 form-control btn-info btn-theme">Login</button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
